body {
    background-color: lightcyan; 
    backdrop-filter: blur(100px); 
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

